@font-face {
  font-family: sans-serif;
  color: rgb(116, 97, 162);
}

body {
  padding-top: 50px;
}

.button {}

.header {
  background-image: url(../img/payments-banner-graphic.png);
  height: 400px;
  text-align: center;
  padding: 170px;
  border: 50px;
}

span {
  height: 400px;
  text-align: center;
}

li ul {
  list-style-type: none;
}

.navbar-brand img {
  height: 30px;
  display: inline;
}

.navbar {
  background-color: #7D7DAF;
}

.navbar a {
  color: white;
}

.imgGauche, .imgDroite {
  background-color: #7CD5EF;
  padding: 50px;
  border: 50px;
}

.imgDroite {
  background-color: #8080BE;
}

.creditcard {
  background-color: #4C535C;
  height: 50px;
  font-size: 1em;
}

.description {
  text-align: center;
  text-align: justify;
}

.description .texte {
  padding-top: 15%;
}

.description .texte p {
  width: 50%;
  margin: auto;
}

.footer {
  background-color: #242629;
  color: #AAAAAA;
}

.footer a {
  color: #AAAAAA;
}

.footerList {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

.button {
  background-color: #00B088;
}

#infobulle {
  background-color: #7D7DAF;
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-size: 2em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 5px rgba(125, 125, 125, 1);
}

.price {
  color: #7070AC;
  font-size: 50px;
}