@font-face {

    font-style: italic;
    rgb(116, 97, 162)
}

body{
  padding-top: 50px;
}
#contenu{
  text-align: center;
}
.button{

}

.header{
  background-image: url(../img/payments-banner-graphic.png);
  height:300px;
  text-align: justify;
  text-align: center;
}
#span{
  height: 300px;
  text-align: center;


}
#li ul{c
  list-style-type: none;
}
.navbar-brand img{
  height: 30px;
  display: inline;
}
.navbar{
  background-color:#7D7DAF;
}

.navbar a{
  color: white;
}

.header1{
  background-color: #F6F9FB;
  height: 50px;
}
.header2{
  background-color: #4C535C;
  height: 50px;

}
