@font-face {
  font-family: 'raleway';
  font-size: 22px;
  font-family: sans-serif;
  font-style: normal;
  color: rgb(116, 97, 162);
}

body {
  padding-top: 50px;
}

.button {}

.header {
  background-image: url(../img/payments-banner-graphic.png);
  height: 400px;
  text-align: center;
  padding: 170px;
  border: 50px;
}

.home {
  background-image: url(../img/payments-banner-graphic.png);
  padding-top: 10%;
  padding-bottom: 10%;
}

.image {
  border-right: 1px solid #CCCCCC;
}

.image:last-child {
  border-right: 0px solid #CCCCCC;
}

span {
  height: 400px;
  text-align: center;
}

li ul {
  list-style-type: none;
}

.navbar-brand img {
  height: 30px;
  display: inline;
}

.navbar {
  background-color: #7D7DAF;
}

.navbar a {
  color: white;
}

.imgGauche, .imgDroite {
  background-color: #7CD5EF;
  padding: 50px;
  border: 50px;
}

.imgDroite {
  background-color: #8080BE;
}

.imgsrc {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.creditcard {
  background-color: #4C535C;
  height: 70px;
  padding top: 40px;
  font-size: 2em;
  color: white;
}

.description {
  text-align: justify;
}

.description .texte {
  padding-top: 15%;
}

.description .texte p {
  width: 50%;
  margin: auto;
  font-family: sans-serif;
  font-style: normal;
  text-align: justify;
}

.information {
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  font-style: normal;
}

.h1 {
  font-family: 'Roboto';
  font-size: 22px;
  font-family: sans-serif;
  font-style: normal;
  font-size: 10px;
  color: #ABABAB;
}

.span {
  font-family: sans-serif;
  font-style: normal;
  font-size: 10px;
  color: #565656;
}

.footer {
  background-color: #242629;
  color: #AAAAAA;
}

.footer a {
  color: #AAAAAA;
}

.footerList {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

.button {
  background-color: #00B088;
}

#infobulle {
  background-color: #8686B9;
  color: white;
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-size: 2em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 1px 4px rgba(125, 125, 125, 2);
}

.price .dollar {
  color: #7070AC;
  font-size: 50px;
}

.price div {
  display: inline-block;
}

.price .info p {
  text-transform: uppercase;
}

.price .info span {
  font-size: 0.8em;
  color: grey;
}